$purple: #4e53a3;
$dark-purple: #414588;
$orange: #f26122;
$blue: #1db5e4;
$dark-blue: #158cb1;
$yellow: #febf10;
$green: #73bf44;

$nav-bar-height: 60px;
$section-height: 90vh;
$header-height: 80px;
