$purple: #4e53a3;
$dark-purple: #414588;
$orange: #f26122;
$blue: #1db5e4;
$dark-blue: #158cb1;
$yellow: #febf10;
$green: #73bf44;
$dark-green: #599533;

$nav-bar-height: 60px;
$header-height: 100px;
$section-height: 90vh;

$bp-xs: 0;
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;
