/* BGs from http://thepatternlibrary.com/ */

* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    color: white;
}

:root
{
    /*  Will be modified */
    font: 10px Helvetica, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    /* --page-links-col: rgba(0, 250, 154, 0.8); */
    
    --logo-width: 25rem;

    --school-card-ttl-col: red;
    --page-links-col: #1DB5E4;

    /* Suggested colors */
    --dark-blue: #4E53A3;
    --orange: #F26122;
    --light_blue: #1DB5E4;
    --yellow: #FEBF10;
    --white: #FFFFFF;
    --green: #73BF44;

    /* Use where needed */
    --mail-col: rgb(0, 114, 202);
    --whatsapp-col: rgb(85, 240, 112) ;
    --yt-col: rgb(255, 0, 0);
    --fb-col: #3b5998;
    --insta-col: #fb3958;
    --github-col: rgb(23, 21, 21);
}

body {
    background: black center/cover no-repeat fixed;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;

    text-align: center;

    color: white;
}

a:hover, a:link, a:active, a:any-link, a:visited {
    text-decoration: none !important;
}

ul {
    list-style-type: none !important;
}

/* Use when needed -- START */
.page-links {
    color: var(--page-links-col);
}

.mail, .whatsapp, .yt, .fb, .insta, .github {
    color: white;

    -moz-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
}

.mail:hover {
    opacity: 1;
    color: var(--mail-col);
}

.whatsapp:hover {
    opacity: 1;
    color: var(--whatsapp-col);
}

.yt:hover {
    opacity: 1;
    color: var(--yt-col);
}

.fb:hover {
    opacity: 1;
    color: var(--fb-col);
}

.insta:hover {
    opacity: 1;
    color: var(--insta-col);
}

.github:hover {
    opacity: 1;
    color: rgb(23, 21, 21);
}
/* Use when needed -- END */

section {
    width: 100%;
    height: 100vh;

    border-top: 2px red solid;
}

#jumbotron {
    width: 100%;
    height: 75vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* #intro:hover {
    transition: 0.5s ease;
    transform: translate(-50rem,-25rem);
} */

#logo-cont {
    display: inline;
    vertical-align: middle;
}

#logo {
    width: var(--logo-width);
}

#title {
    display: inline;
    vertical-align: middle;

    font-size: 7rem;
    text-align: left;
}

#schools {
    height: auto;
}

#schools-cont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-evenly;
    align-content: space-between;
}

.school-card {
    display: flex;

    width: 35rem;
    height: 45rem;

    margin: 4vw;

    border-radius: 20px;
}

.school-card-img {
    width: 100%;
    height: 100%;

    border-radius: 20px;
}

.school-card-ttl {
    display: block;
    transform: translateY(-6.25rem);

    color: var(--school-card-ttl-col);
    font-size: 2.5rem;
}

#gallery {
    display: flex;
    align-items: center;
}

#faq {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-evenly;
    align-items: center;
}

.faq-items {
    display: flex;
    flex-direction: column;
}

#faq-ttl {
    width: 40%;
    height: 100%;

    font-size: 7.5rem;
    padding: 10rem;
    justify-content: center;

    align-items: center;

}

#faq-faq {
    width: 60%;
    height: 100%;

    padding: 20rem;
    justify-content: center;

    align-items: flex-start;
    text-align: left;
}

.faq-ques {
    display: block;
    font-size: 2.5rem;

    margin: 1.5rem;
}

.faq-ans {
    display: block;
    font-size: 2rem;

    margin: 1.5rem;
    margin-bottom: 3rem;
}

#downloads {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-evenly;
    align-items: center;
}

.download-items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#download-brochure {
    width: 40%;
    height: 100%;
    
    justify-content: center;
    align-items: center;
}

#download-brochure-img {
    width: 45rem;
    height: 60rem;

    transition: 0.4s ease;
}

#download-brochure-img:hover {
    transform: scale(1.1);
}

#download-posters {
    width: 60%;
    height: 100%;

    padding: 10rem;
    justify-content: center;

    /* align-items: flex-start; */
    /* text-align: left; */
}

.download-event-poster {
    display: block;
    font-size: 2rem;

    margin: 1.5rem;
    margin-bottom: 3rem;
}

footer {
    font-size: 2rem;
}