/* BGs from http://thepatternlibrary.com/ */

* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  /*  Will be modified */
  font: 10px Helvetica, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  /* --page-links-col: rgba(0, 250, 154, 0.8); */

  /* --logo-width: 9rem; */

  /* Suggested colors */
  --dark-blue: #4E53A3;
  --orange: #F26122;
  --light_blue: #1DB5E4;
  --yellow: #FEBF10;
  --white: #FFFFFF;
  --green: #73BF44;

  /* Use where needed */
  --mail-col: rgb(0, 114, 202);
  --whatsapp-col: rgb(85, 240, 112) ;
  --yt-col: rgb(255, 0, 0);
  --fb-col: #3b5998;
  --insta-col: #fb3958;
  --github-col: rgb(23, 21, 21);
}

body {
  background: black center/cover no-repeat fixed;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

a:hover,
a:link,
a:active,
a:any-link,
a:visited {
  text-decoration: none !important;
}

ul {
  list-style-type: none !important;
}

/* Use when needed */
.page-links {
  color: var(--page-links-col);
}

/* Use when needed */
.mail,
.whatsapp,
.yt,
.fb,
.insta,
.github {
  color: white;

  -moz-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.mail:hover {
  opacity: 1;
  color: var(--mail-col);
}

.whatsapp:hover {
  opacity: 1;
  color: var(--whatsapp-col);
}

.yt:hover {
  opacity: 1;
  color: var(--yt-col);
}

.fb:hover {
  opacity: 1;
  color: var(--fb-col);
}

.insta:hover {
  opacity: 1;
  color: var(--insta-col);
}

.github:hover {
  opacity: 1;
  color: rgb(23, 21, 21);
}


/* demonstration-detail-desktop start */

/* the buttom bar */
.now-playing-bar {
  background-color: var(--github-col);
  overflow: hidden;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.now-playing-bar .left {
  float: left;
  display: block;
  color: var(--light_blue);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
}
.left:hover {
  background-color: #ddd;
  color: var(--dark-blue);
}

.now-playing-bar .right {
  float: right;
  display: block;
  color: var(--light_blue);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
}
.right:hover {
  background-color: #ddd;
  color: var(--dark-blue);
}
.demo-name {
  position: absolute;
  display: inline-block;
  color: var(--light_blue);
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 20px;
}

/* the side menu */
.demo-list {
  background-color: var(--github-col);
  color: var(--light_blue);
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  height: 90vh;
  overflow: auto;
}
.demo-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 19px;
  line-height: 2;
  letter-spacing: -0.009em;
  font-weight: 200;
  font-style: italic;
}
.demo-list li:hover{
  background-color: #ddd;
  color: var(--dark-blue);
}
.demo-list h1{
  padding-top: 8px;
  text-align: left
}

/* the main thing */
.demo-detail {
  margin-top: 30px;
  padding-left: 30px;
  height: 88vh;
  overflow: auto;
}
.demo-detail .demo-image{
  float: right;
}
.img{
  width: 38vh;
  border-radius: 30px;
  margin-bottom: 50px;
  margin-left: 15px;
}
.demo-detail p{
  color: #ddd;
  font-size: 19px;
  text-decoration: none;
  text-align: left;
}
.demo-detail .demonstrators{
  color: #ddd;
}
.demo-detail li {
  margin-top: 12px;
  font-size: 13px;
  line-height: 1.3;
  letter-spacing: 0.008em;
  font-weight: 500;
  font-style: normal;
}
.demo-detail .demo-detail-info h1{
  color: #ddd;
  padding-bottom: 10px;
}
/* demonstration-detail-desktop stop */

